<div class="error_page">
        <!--/login-top-->        
          <div class="error-top">
              <div class="login">
            <h3 class="inner-tittle t-inner">Register</h3>
                <form>
                    <input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >
                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    <div class="sign-up">
                          <input type="reset" value="Reset">
                          <input type="submit" onclick="myFunction()" value="Register">
                      
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="new">
                      <p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>I agree with the terms</label></p>
                      <p class="sign">Already register ? <a routerLink="../login">Login</a></p>
                      <div class="clearfix"></div>
                    </div>
                  </form>
            </div>            
      </div>
  </div>